// main-form__input Ð² _registry.scss

.main-form {
    display: none;
    justify-content: center;
    align-items: center;

    min-width: 100%;

    position: relative;
    z-index: 990;

    padding: 41px 10px 56px;
    background-color: $colorWhite600;

    @include width900(){
        padding: 21px 10px 36px;
    }

    @include tablet-s(){
        margin-top: 20px;
    }
    
    &__inner {
        width: 400px;

        @include mobile-x(){
            width: 100%;
        }
    }
}

.main-form__title {
    margin-bottom: 35px;

    font-family: $fontAccent;
    font-weight: 800;
    font-size: 36px;
    text-align: center;

    @include width900(){
        margin-bottom: 15px;
        font-size: 32px;
    }

    @include mobile-x(){
        font-size: 27px;
    }
}

.main-form__form {
    display: flex;
    flex-direction: column;

    padding: 22px 30px;
    background-color: $colorWhite;

    @include mobile-x(){
        padding: 15px 20px;
    }
}

.main-form__label {
    position: relative;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.07em;
}

.main-form__signin-text {
    margin-top: 35px;
    font-weight: 400;
    font-size: 12px;  

    @include mobile-x(){
        margin-top: 15px;
    }
    
    .main-form__signin-link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #3d7ca3;
    }
}