.nav{
    margin-left: auto;
    margin-right: 78.5px;

    @include width1100(){
        margin: 0;
    }

    @include width900(){
        display: none;
    }
}

.nav__list{
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
    font-size: 10px;
    text-transform: uppercase;

    @include width1100(){
        gap: 0 12px;
    }
}

.nav__link{
    padding: 10px 0;
    transition: all .2s ease-in;

    &:hover{
        opacity: 0.6;
    }
}