html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: $fontMain;
    font-weight: 500;
    font-size: 14px;
    color: $colorTextMain;
    caret-color: transparent;
}

input, textarea{
    caret-color: black;
}

.container{
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-big{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    transform: translateX(25px);
}

.footer {
    margin-top: auto;
}

.main-btn{
    padding: 15px 0;
    border-radius: 4px;
    background: $redGradient;

    font-family: $fontAccent;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorWhite;

    transition: all .2s ease-in;

    &:hover{
        opacity: 0.8;
    }
}

.subtitle{
    display: block;
    position: relative;
    font-family: $fontAccent;
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;

    span{
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 28px;
        height: 2px;
        background-color: $colorTextMain;
    }

    &::before{
        content: "";
        position: absolute;
        bottom: -8px;
        left: 28px;
        height: 1px;
        width: calc(100% - 45px);
        background-color: $colorWhite500;
    }

    &::after{
        content: "";
        position: absolute;
        border: 2px solid #17141e;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        bottom: -11px;
        right: 0;
    }
}