// FONTS
$fontMain: "Montserrat", sans-serif;
$fontAccent: "Fira Sans", sans-serif;
$fontThird: "Inter", sans-serif;
$fontFourth: "PT Sans", sans-serif;

// COLORS
$colorTextMain: #17141e;
$footerBg: #17141e;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorWhite500: #dfe2ea;
$colorWhite600: #f6f7fa;
$colorGray400: #e5e6ec;
$colorGray500: #6c6975;
$colorGray600: #707074;
$redGradient: linear-gradient(270deg, #e31e25 0%, #d41136 100%);
$colorRed: #db172e;
$colorGreen:#07a224;

// SHADOWS
$shadowBtn: 0 5px 25px 0 rgba(51, 51, 63, 0.05);

// MIXINS
@mixin no-overflow(){
    overflow-wrap: break-word;
    overflow-y: auto;
}

@mixin tablet (){
    @media (max-width: 992px) {
        @content
    }
};

@mixin tablet-s(){
    @media (max-width: 640px) {
        @content
    }
};

@mixin mobile-x(){
    @media (max-width: 550px) {
        @content
    }
};

@mixin mobile(){
    @media (max-width: 420px) {
        @content
    }
}