// FONTS
$fontMain: "Montserrat", sans-serif;
$fontAccent: "Fira Sans", sans-serif;
$fontThird: "Inter", sans-serif;
$fontFourth: "PT Sans", sans-serif;

// COLORS
$colorTextMain: #17141e;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorWhite600: #f6f7fa;
$colorGray400: #e5e6ec;
$colorGray600: #707074;
$redGradient: linear-gradient(270.00deg, rgb(227, 30, 37),rgb(212, 17, 54) 100%);
$colorRed: #db172e;

// @mixin retina-bg($image){
//     @media 
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi) {
//         background-image: $image;
//     }
// }

// $color-000:         #f6f9ff;
// $color-002:         #6c6975;
// $color-003:         #aaa9b0;
// $color-005:         #dfe2ea;
// $color-009:         #e9ecf1;
// $color-010:         #e6f6e9;
// $color-011:         #07a224;
// $color-012:         #e31e25;
// $color-013:         #d41136;
// $color-015:         #ff5722cc;
// $color-016:         #898592;
// $color-017:         #aaa8b0;
// $color-018:         #2c2835;
// $color-019:         #0e385c;
// $color-020:         #7c7c7e;
// $color-021:         #e7e7ee;
// $color-022:         #a2a2ae;
// $color-023:         #ff0000;
// $color-025:         #0000009c;
// $color-026:         #170f49;
// $color-027:         #171717;
// $color-028:         #b3b6ba73;
// $color-029:         #333333;
// $color-030:         #707075;
// $color-031:         #757582;
// $color-032:         #eceef3;
// $color-033:         #a2a2a27f;
// $color-034:         #dfe1e8;
// $color-035:         #707074cc;
// $color-036:         #3d7ca3;
// $color-037:         #2c2932;
// $color-038:         #2b2931;
// $color-039:         #dfdfe8;
// $color-040:         #9d9ca2;
// $color-041:         #efece4;
// $color-042:         #e8e7e6;
// $color-043:         #0000007f;
// $color-044:         #929292;
// $color-045:         #d9d9d9;
// $color-046:         #00ff7f;
// $color-047:         #f7f7f7;
// $color-048:         #ffffff01;