<div id="descr-product-1" class="product-card card-compare">
  <div class="card-compare__head">
    <p class="product-card__code">Код: <span>0021571</span></p>
    <button class="card-compare__btn">
      <img
        src="
      ./img/icons/compare.svg"
        alt="compare icon"
      />
    </button>
  </div>
  <img
    src="./img/descr-products/descr-product-2.jpg"
    alt="product"
    class="product-card__img card-compare__img"
  />
  <h3 class="product-card__title">Пример продукта</h3>

  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 30 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 3.0
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">3190тг.</span>
      <button class="product-card__cart-btn">
        <img src="./img/icons/add-to-cart.svg" alt="cart button" />
      </button>
    </div>
  </div>
</div>
