<li id="cart-item-1" class="cart__item">
  <div class="cart__item-head">
    <img
      src="./img/other/cart-product-1.jpg"
      alt="product icon"
      class="cart__item-img"
    />
    <p class="cart__item-text"><span>Код: </span>0039279</p>
  </div>
  <p class="cart__item-name">Пруток присадочный омедненный</p>
  <div class="cart__item-counter">
    <button class="cart__item-minus">
      <img src="./img/icons/small-minus.svg" alt="minus icon" />
    </button>
    <div class="cart__item-quant">3</div>
    <button class="cart__item-plus">
      <img src="./img/icons/small-plus.svg" alt="plus icon" />
    </button>
  </div>

  <p class="cart__item-no-discount">
    <span class="cart__item-no-discount-text">50</span>
    <span class="cart__item-no-discount-currency">тг</span>
    <span>/ шт</span>
  </p>
  <p class="cart__item-price-box">
    <span class="cart__item-price">50</span>
    <span class="cart__item-price-currency">тг</span>
    <span>/ шт</span>
  </p>
  <p class="cart__item-pack-price">-</p>
  <p class="cart__item-sum-box">
    <span class="cart__item-sum">150</span>
    <span>тг</span>
  </p>

  <button class="cart__item-btn">
    <img src="./img/icons/remove.svg" alt="remove cart item" />
  </button>
</li>
