<div class="descr-item">
  <p class="descr-item__code">Код товара: <span>0022167</span></p>
  <h1 class="descr-item__title">Электрический монтажный пистолет</h1>
  <div class="descr-item__head">
    <div class="descr-item__img-slider">
      <img
        class="descr-item__img"
        src="./img/descr-products/descr-product-1.jpg"
        alt="product"
      />
      <div class="descr-item__img-switcher">
        <button
          id="descr-img-switcher-1"
          class="descr-item__img-btn descr-item__img-btn--active"
        >
          <img
            src="../../img/descr-products/descr-product-1.jpg"
            alt="image switcher"
          />
        </button>
        <button id="descr-img-switcher-2" class="descr-item__img-btn">
          <img
            src="../../img/descr-products/descr-product-1.jpg"
            alt="image switcher"
          />
        </button>
      </div>
    </div>
    <div class="descr-item__main-box">
      <div class="descr-item__main-props">
        <p class="descr-item__status">В наличии</p>
        <h3 class="mini-subtitle">Основные характеристики</h3>

        <ul class="descr-item__props-list">
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Бренд</span
            ><span class="descr-item__props-value">ЭСАБ (ESAB)</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Вид проволоки</span
            ><span class="descr-item__props-value">омедненная</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Диаметр, мм</span
            ><span class="descr-item__props-value">1.2</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Маркировка</span
            ><span class="descr-item__props-value">ОК ПРО 51С</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Тип сварки</span
            ><span class="descr-item__props-value">MIG-MAG</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Вес, кг</span
            ><span class="descr-item__props-value">18</span>
          </li>
        </ul>

        <a href="#!" class="main-link">Все характеристики</a>
        <div class="descr-item__delivery">
          <img
            src="./img/icons/mini-track.svg"
            alt="truck icon"
            class="descr-item__delivery-img"
          />
          <div class="descr-item__delivery-box">
            <p class="descr-item__delivery-text">
              <span>Бесплатная доставка</span> в Караганде. В Алмате от 2000 руб
              (в черте города)
            </p>
            <a href="#!" class="main-link">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="descr-item__actions">
        <h3 class="mini-subtitle">Стоимость</h3>

        <div class="descr-item__calc">
          <div class="descr-item__price">
            <p class="descr-item__price-text">31190 тг<span>/ шт</span></p>
          </div>
          <div class="descr-item__quantity">
            <button class="descr-item__minus disabled-btn">
              <img src="./img/icons/minus.svg" alt="minus" />
            </button>
            <div class="descr-item__prod-quant">1</div>
            <button class="descr-item__plus">
              <img src="./img/icons/plus.svg" alt="plus" />
            </button>
          </div>
        </div>

        <div class="descr-item__actions-bottom">
          <div class="descr-item__total">
            <span class="descr-item__total-text">Итого:</span>
            <p class="descr-item__total-price">
              <span id="descr-total-price">31 190</span>
              <span> тг.</span>
            </p>
          </div>
          <button class="main-btn descr-item__to-cart">В корзину</button>
          <button class="main-btn descr-item__order">Заказать в 1 клик</button>
        </div>
      </div>
    </div>
  </div>

  <div class="descr-item__subhead">
    <div class="descr-item__services">
      <h3 class="mini-subtitle">Наши услуги</h3>
      <div class="descr-item__services-box">
        <div class="descr-item__services-item">
          <img
            class="descr-item__services-img"
            src="./img/icons/descr-truck.svg"
            alt="truck icon"
          />
          <p class="descr-item__services-text">Доставка</p>
        </div>
        <div class="descr-item__services-item">
          <img
            class="descr-item__services-img"
            src="./img/icons/descr-repair.svg"
            alt="repair icon"
          />
          <p class="descr-item__services-text">
            Ремонт <br />
            оборудования
          </p>
        </div>
      </div>
    </div>
    <div class="descr-item__stocks">
      <h3 class="mini-subtitle">Наличие на складах</h3>
      <p class="descr-item__stocks-text">ул. Васильченко, дом 1, здание 153Б</p>
    </div>
  </div>

  @@include('./descr-info.html')
</div>
