<div class="descr-info">
  <div class="descr-info__switcher">
    <p class="descr-info__switcher-text">Описание и характеристики</p>
    <button class="descr-info__switcher-btn">
      <img src="./img/icons/burger-menu.svg" alt="burger menu" />
    </button>
  </div>

  <div class="descr-tabs">
    <button class="descr-tabs__btn descr-tabs__btn--active">
      Описание и характеристики</button
    ><button class="descr-tabs__btn">Отзывы</button
    ><button class="descr-tabs__btn">Документы</button
    ><button class="descr-tabs__btn">Оплата и доставка</button
    ><button class="descr-tabs__btn">Сопутствующие товары</button>
  </div>

  <div class="descr-info__inner">
    <ul class="descr-info__list">
      <li class="descr-info__item">
        <h4 class="descr-info__key">Бренд</h4>
        <span class="descr-info__value">ЭСАБ (ESAB)</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Вид проволоки</h4>
        <span class="descr-info__value">омедненная</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Назначение</h4>
        <span class="descr-info__value">углеродистая сталь</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Диаметр, мм</h4>
        <span class="descr-info__value">1.2</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Маркировка</h4>
        <span class="descr-info__value">ОК ПРО 51С</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Тип сварки</h4>
        <span class="descr-info__value">MIG-MAG</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Вес, кг</h4>
        <span class="descr-info__value">18</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Еврокатушка</h4>
        <span class="descr-info__value">К-300</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Исполнение</h4>
        <span class="descr-info__value">каркасная кассета</span>
      </li>
      <li class="descr-info__item">
        <h4 class="descr-info__key">Установка кассеты</h4>
        <span class="descr-info__value">без адаптера</span>
      </li>
    </ul>

    <div class="descr-info__text">
      <p>
        <strong>Проволока сварочная ОК ПРО 51С Esab</strong> применяется для
        сварки низкоуглеродистых и низколегированных сталей с пределом текучести
        свыше 420 МПа в углекислом газе и газовой смеси (CO2, Ar/C02).
        Высококачественное омеднение, рядная намотка на катушки, стабильный
        диаметр по всей длине обеспечивают стабильное горение проволоки с
        минимальным разбрызгиванием и высокое качество наплавленного металла.
        Проволока европейского качества, производимая в России. Широкий спектр
        применения. Отличные механические свойства наплавленного металла.
      </p>
      <p>
        <strong>Механические свойства металла шва:</strong>
      </p>
      <p class="descr-info__text--3">
        <span>Предел прочности при растяжении: 560 МПа </span>
        <span>Предел текучести: 450 МПа</span>
        <span>Удлинение: 30 %</span>
        <span
          ><strong
            >Химический состав наплавленного металла шва, % :</strong
          ></span
        >
      </p>
      <p>C - 0,078 / Mn - 1,46 / Si - 0,85</p>
    </div>

    <p class="descr-info__disclaimer">
      *Производитель оставляет за собой право без уведомления дилера менять
      характеристики, внешний вид, комплектацию товара и место его производства.
      Указанная информация не является публичной офертой
    </p>
  </div>
</div>
