<div class="dropdown-menu">
  <button class="dropdown-menu__btn">
    Каталог товаров
    <span></span>
  </button>
  <ul class="dropdown-menu__list">
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Сварочные материалы</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Оборудование</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Газосварочное оборудование</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Абразивные материалы</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Спецодежда и СИЗ</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!"
        >Компрессоры, генераторы, пневмоинструмент</a
      >
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Электроинструменты</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Ручной инструмент</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Режущие инструменты</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Метизы и крепеж</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Хозтовары и химия</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Электрика и свет</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Грузоподъемное оборудование</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!"
        >Пожарное оборудование и материалы</a
      >
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Промышленное оборудование</a>
    </li>

    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Электроды сварочные</a>
    </li>
    <li class="dropdown-menu__item">
      <a class="dropdown-menu__link" href="#!">Проволока сварочная</a>
    </li>
    <li class="dropdown-menu__item">
      <a href="#!" class="dropdown-menu__link"
        >Прутки присадочные для аргонодуговой сварки</a
      >
    </li>
    <li class="dropdown-menu__item">
      <a href="#!" class="dropdown-menu__link">Проволока вязальная</a>
    </li>
    <li class="dropdown-menu__item">
      <a href="#!" class="dropdown-menu__link">Вольфрамовые электроды</a>
    </li>
    <li class="dropdown-menu__item">
      <a href="#!" class="dropdown-menu__link">Угольные электроды</a>
    </li>
    <li class="dropdown-menu__item">
      <a href="#!" class="dropdown-menu__link">Припой сварочный</a>
    </li>
    <li class="dropdown-menu__item">
      <a href="#!" class="dropdown-menu__link">Флюс сварочный</a>
    </li>
  </ul>
</div>
