<nav class="mini-nav">
  <ul class="mini-nav__list">
    <li class="mini-nav__item">
      <a href="#!" class="mini-nav__link"
        ><img src="./img/icons/mini-home.svg" alt="home" /><span
          >Главная</span
        ></a
      >
    </li>
    <li class="mini-nav__item">
      <a href="#!" class="mini-nav__link"
        ><img src="./img/icons/mini-map-label.svg" alt="shops" /><span
          >Магазины</span
        ></a
      >
    </li>
    <li class="mini-nav__item">
      <a href="#!" class="mini-nav__link"
        ><img src="./img/icons/mini-catalogue.svg" alt="catalogue" /><span
          >Каталог</span
        ></a
      >
    </li>
    <li class="mini-nav__item">
      <a href="#!" class="mini-nav__link"
        ><img src="./img/icons/mini-cart.svg" alt="cart" /><span
          >Корзина</span
        ></a
      >
    </li>
    <li class="mini-nav__item">
      <a href="#!" class="mini-nav__link"
        ><img src="./img/icons/mini-profile.svg" alt="profile" /><span
          >Профиль</span
        ></a
      >
    </li>
  </ul>
</nav>
