<div id="modal-product-1" class="modal-card">
  <div class="modal-card__inner">
    <button class="modal-card__close-btn">
      <img src="./img/icons/close.svg" alt="close icon" />
    </button>
    <p class="modal-card__code">Код товара: <span>0022167</span></p>
    <h3 class="modal-card__title">Электрический монтажный пистолет</h3>

    <div class="modal-card__resources">
      <div class="modal-card__img-slider">
        <img
          class="modal-card__img"
          src="./img/modal-products/modal-product-1.jpg"
          alt="product image"
        />
        <div class="modal-card__img-switcher">
          <button
            id="modal-img-switcher-1"
            class="modal-card__img-btn modal-card__img-btn--active"
          >
            <img
              src="../../img/descr-products/descr-product-1.jpg"
              alt="image switcher"
            />
          </button>
          <button id="modal-img-switcher-2" class="modal-card__img-btn">
            <img
              src="../../img/descr-products/descr-product-1.jpg"
              alt="image switcher"
            />
          </button>
        </div>
      </div>
      <iframe
        class="modal-card__iframe"
        width="456"
        height="342"
        src="https://www.youtube.com/embed/ODqA_zmGHOw?si=e7aR4CG0fiws6zr-"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <div class="modal-card__descr">
      <h3 class="modal-card__descr-title">Описание и характеристики</h3>
      <ul class="modal-card__property-list">
        <li class="modal-card__property-item">
          <span class="modal-card__property-title">Бренд</span>
          <span class="modal-card__property-text">углеродистая сталь</span>
        </li>
        <li class="modal-card__property-item">
          <span class="modal-card__property-title">Вес, кг</span>
          <span class="modal-card__property-text">18</span>
        </li>
        <li class="modal-card__property-item">
          <span class="modal-card__property-title">Диаметр, мм</span>
          <span class="modal-card__property-text">1.2</span>
        </li>
        <li class="modal-card__property-item">
          <span class="modal-card__property-title">Еврокатушка</span>
          <span class="modal-card__property-text">К-300</span>
        </li>
      </ul>

      <p class="modal-card__text">
        Газовый строительный пистолет этой модели показал себя с самой лучшей
        стороны при монтаже ДВП или фанеры, а также ГВЛ листов и аналогичных
        материалов к твердым поверхностям, в виде бетона, кирпича или
        металлического профиля, толщина которого не превышает 7 мм. С помощью
        газового монтажного пистолета можно не только забивать «зонтики» при
        монтаже утеплителя, но и эффективно забивать дюбель по бетону.
      </p>
      <a href="./descr.html" class="modal-card__link">Подробнее</a>
    </div>
  </div>
</div>
