<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#!" class="nav__link">О компании</a>
    </li>
    <li class="nav__item">
      <a href="#!" class="nav__link">Новинки и акции</a>
    </li>
    <li class="nav__item">
      <a href="#!" class="nav__link">Доставка и оплата</a>
    </li>
    <li class="nav__item">
      <a href="#!" class="nav__link">Гарантия и сервис</a>
    </li>
    <li class="nav__item">
      <a href="#!" class="nav__link">Поставщикам</a>
    </li>
    <li class="nav__item">
      <a href="#!" class="nav__link">Контакты</a>
    </li>
  </ul>
</nav>
