<div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="./img/products/product-2.jpg"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="./img/icons/add-to-cart.svg" alt="cart button" />
      </button>
    </div>
  </div>
</div>
