.header__top{
    background-color: $colorWhite600;

    @include tablet-s(){
        background-color: $colorWhite;
    }
}

.header__nav{
    min-height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
}

.header__main{
    display: flex;
    align-items: center;
}

.mini-logo{
    display: none;

    @include tablet-s(){
        display: inline-block;
    }
}

.header__logo{
    margin: 22px 27px 22px 10px;

    @include tablet-s(){
        display: none;
    }
}

.header__search{
    display: flex;
    align-items: center;
    flex-basis: 870px;

    @include tablet-s(){
        margin-top: 5px;
    }
}

.header__search-input{
    height: 45px;
    width: 100%;
    padding: 15px 0px 15px 21px;
    position: relative;

    border-radius: 15px 0px 0px 15px;
    background-color: $colorGray400;

    &::placeholder{
        font-family: $fontMain;
        font-size: 12px;
        font-weight: 400;
        color: $colorGray600;
    }

    @include tablet-s(){
        padding-left: 0;
        border-radius: 0px 8px 8px 0px;

        &::placeholder{
            font-family: $fontFourth;
            font-size: 16px;
            color: $colorBlack;
        }
    }
}

.header__search-btn{
    width: 60px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $colorGray400;
    border-radius: 0px 15px 15px 0px;

    @include tablet-s(){
        width: 45px;
        order: -1;
        border-radius: 8px 0px 0px 8px;
    }
}