.login--active {
    display: flex;
}

.login__btn{
    width: 160px;
}

.login__signin-box{
    display: flex;
    align-items: center;
    gap: 0 23px;

    .login__link{
        font-family: $fontAccent;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;

        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}

